body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(164, 143, 188);
}

header{
    background: aqua;
    text-align: center;
}

h1
{padding: 10px 20px; 
background: aquamarine"; 
}

header nav{
    text-align: center;
    background: whitesmoke;

}
main section img {
    max-width: 300px;
    float: left;

}